* {
    font-family: inherit;
}

body {
    font-family: "CeraPro", sans-serif;
}

h1 {
    line-height: 16px;
    text-align: center;
}

span {
    color: green;
}

div {
    text-align: center;
    line-height: 14px;
    padding: 14px;
}

form {
    margin: 0 auto;
    width: 500px;
}

input {
    display: block;
    margin-bottom: 16px;
    padding: 12px 14px;
    border-radius: 5px;
    width: 500px;
}

button {
    margin-bottom: 16px;
    padding: 12px 14px;
    border-radius: 5px;
    width: 531.2px;
    background-color: green;
    color: white;
    border: 1px solid;

}

.custom-checkbox {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    input{
        display: none;
    }
}

.custom-check-icon {
    position: relative;
    width: 8px;
    height: 8px;
    border: 1px solid green;
    margin-right: 8px;
}

.custom-check-icon::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #46A35899;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.custom-checkbox input:checked ~ .custom-check-icon::before {
    display: block;
}
@keyframes rotating{
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
