* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "CeraPro", sans-serif;
}

nav {
    margin-top: 30px;
}

.flex {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    background: #f2f2f2;
    border-bottom: 0.3px solid #46A35880;
}

nav li a {
    color: black;
}

.list1 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;
    padding-top: 7px;
    margin-right: 20px;

    >li {
        position: relative;
        padding-bottom: 25px;
        padding-right: 8px;
        border-bottom: 3px solid transparent;
        transition: 0.6s;
        font-size: 16px;
    }

    li:hover {
        border-bottom: 3px solid green;
        font-weight: 700;
        transition: 0.6s;

        .list2 {
            opacity: 1;
            visibility: visible;
            max-height: 300px;
            transition: 0.6s;
        }
    }
}

.list2 {
    position: absolute;
    flex-direction: column;
    display: flex;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    gap: 1px;
    list-style: none;
    min-width: 188px;
    left: -70%;
    margin-top: 12px;

    a {
        background: #EDF6EE;
        display: block;
        font-weight: lighter;
        padding-top: 7px;
        padding-left: 14px;
        padding-bottom: 8px;

    }

    li:hover {
        >a {
            background-color: green;
            color: white;
            font-weight: 700;
            transition: 0.6s;
        }

        .list3 {
            opacity: 1;
            visibility: visible;
            max-height: 300px;
            background-color: #EDF6EE;
            transition: 0.6s;
        }
    }
}

.list3 {
    position: absolute;
    flex-direction: column;
    display: flex;
    transition: 0.3s;
    visibility: hidden;
    max-height: 0;
    gap: 1px;
    list-style: none;
    min-width: 178px;
    left: 100%;
    top: 0;

    li:hover {
        >a {
            background-color: #EDF6EE;
            color: black;
            font-weight: lighter;
            transition: 0.6s;
        }
    }
}

.registr {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.welcome {
    max-width: 1200px;
    margin: 0 auto;

    .conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 43px;
        margin-top: 10px;
        background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

    }

    .container-item {
        flex-basis: 600px;
    }

    h5 {
        font-size: 13px;
        font-stretch: semi-expanded;
        font-weight: 700;
        color: black;
        margin-top: 70px;
    }

    h5,
    h1 {
        line-height: 20px;
    }

    h1 {
        margin-top: -20px;
        margin-left: -3px;
        line-height: 70px;
        font-size: 65px;
        font-weight: 1200;
    }

    h1 span {
        color: green;
    }

    p {
        margin-top: 5px;
        line-height: 25px;
        font-size: 12px;
    }

    .shop {
        width: 140px;
        height: 40px;
        margin-top: 39px;
        margin-left: -2px;
        border-radius: 6px;
        background-color: green;
        color: white;
        border: none;
        padding-left: 20px;
        padding-top: 11px;
        padding-right: 24px;
        padding-bottom: 9px;
    }
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 26px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 840px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 340px;
    max-height: 1244px;
    background: #FBFBFB;
    margin: 0 auto;
    margin-top: 20px;

    h4 {
        padding-top: 14px;
        font-weight: 700;
        padding-left: 13px;
    }

    ul {
        text-align: left;
        padding-top: 20px;
        padding-left: 25px;
    }

    .number {
        justify-content: end;
    }

    li {
        font-size: 14px;
        padding-bottom: 26px;
        width: 280px;
    }

    img {
        width: 370px;
        height: 470px;
        margin-left: -40px;
    }

    li:hover {
        color: green;
        transition: 0.6s;
    }
}

.price {
    line-height: 27px;

    h4 {
        font-size: 18px;
        padding-bottom: 10px;
        padding-left: 14px;
    }

    div {
        padding-bottom: 10px;
    }

    form {
        padding-bottom: 10px;
        padding-left: 25px;
    }
}

.filter {
    padding: 12px 25px;
    border-radius: 6px;
    width: 90px;
    height: 35px;
    background-color: green;
    color: white;
    border: 1px solid;
}

.size {
    margin-top: 20px;
}

.range {
    color: green;
    width: 161px;
}

ul {
    list-style: none;
}

.cap {
    max-width: 838px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    margin-bottom: 31px;
    margin-top: -8px;
}

.list {
    list-style: none;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 45px;
    padding-left: 5px;

    >li {
        font-size: 14px;
        position: relative;
        border-bottom: 1px solid transparent;
    }

    li:hover {
        border-bottom: 3px solid green;
        color: green;
        transition: 0.6s;
    }
}

.end {
    margin-top: -3px;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 70px;
    max-width: 840px;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 33px;
    margin: 0 auto;
    max-width: 838px;
    margin-left: 10px;
}

.box:first-child {
    margin-top: 15px;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 7px;
    background: #FBFBFB;
}

.foto {
    width: 250px;
    height: 250px;
    margin-top: 18px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 32px;
    background: rgba (251, 251, 251, 1);
}

.right-side {
    display: flex;
    justify-content: end;
    margin-top: 30px;
    margin-bottom: 94px;
    margin-right: -5px;

    li {
        gap: 20px;
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        display: inline-block;
        width: 35px;
        height: 35px;
        text-align: center;
        padding-top: 7px;
        margin-left: 5px;
    }

    li:hover {
        background-color: green;
        color: white;
        transition: 0.6s;
    }

}

.green {
    color: green;
    font-weight: 700;
    font-size: 40px;
}

.img-wrap {
    position: relative;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.card-buttons {
    position: absolute;
    width: 100%;
    bottom: 7px;
    display: flex;
    gap: 10px;
    justify-content: center;
    opacity: 0;

    button {
        padding: 8px;
        border-radius: 4px;
        background: white;
    }
}

.img-wrap:hover {
    border-top: 1px solid green;
    transition: 0.6s;

    .card-buttons {
        opacity: 1;
    }
}

.img-block {
    position: relative;
}

.badge {
    position: absolute;
    background: green;
    color: white;
    top: 14px;
    left: 0;
}

.grey {
    margin-left: 16px;
    color: #CBCBCB;
    text-decoration: line-through;
}

.page2 {
    max-width: 1200px;
    margin: 0 auto;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
}

.blog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    width: 586px;
    align-items: center;
    background: #FBFBFB;
    line-height: 24px;

    h3 {
        font-size: 16px;
        font-weight: 900;
    }
}

.flex-item {
    text-align: right;
    padding-right: 30px;
    padding-top: 50px;

    img {
        margin-top: -3px;
        margin-right: 5px;
    }
}

.h1 {
    font-weight: 900;
    font-size: 20px;
}

h2 {
    font-weight: bold;
    font-size: medium;
}

h5 {
    margin-top: 9px;
    margin-bottom: 25px;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.455);
}

.center {
    margin-top: 135px;
    text-align: center;
    line-height: 26px;

    h1 {
        font-size: 28px;
        font-weight: 700;
    }
}

.conteiner2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1202px;
    line-height: 14px;
}

.flex2 {
    margin-top: 5px;
    max-width: 268px;
    line-height: 22px;

    div {
        margin-left: 15px;
    }

    h2 {
        font-size: 18px;
        font-weight: 700;
        line-height: 27px;
    }

    h5 {
        margin-top: 3px;
        line-height: 22px;
        font-size: 13px;
    }
}

.green {
    color: green;
    font-size: small;
    font-weight: 200;
}

.read {
    margin-bottom: 12px;
    font-size: 13px;
    font-weight: 700;
    margin-top: -20px;

    a {
        color: black;
    }

    a:hover {
        color: green;
        transition: 0.6s;
    }
}

.arron {
    margin-bottom: -7px;
}

.arron:hover {
    color: green;
}

.page3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 100px;

    h2 {
        font-size: 17px;
    }

    h5 {
        size: 14px;
    }
}

.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    background: #FBFBFB;
    line-height: 21px;

    h2 {
        margin-top: 8px;
    }

    h5 {
        color: #727272;
        font-weight: 400;
    }
}

.top-item:first-child {
    h2 {
        margin-top: 5px;
    }
}

.top-item {
    position: relative;
    padding-right: 30px;
}

.top-item:not(:last-child)::before {
    content: "";
    position: absolute;
    top: 45%;
    right: 0;
    transform: translate(50%, -50%);
    height: 80%;
    width: 1px;
    background: #46A3581A;
}

.top-left {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    background: #FBFBFB;
    padding-top: 24px;
    padding-left: 25px;
    gap: 30px;
}

.top-right {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 410px;
    background: #FBFBFB;
    padding-top: 26px;
    padding-right: 28px;
    padding-left: 30px;

    h5 {
        color: #727272;
        font-weight: 400;
        font-size: 12px;
    }
}

.email {
    padding-left: 11px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 86px;
    border-radius: 6px;
    width: 273px;
}

.join {
    padding: 12px 25px;
    border-radius: 6px;
    width: 85px;
    background-color: green;
    color: white;
    font-weight: 900;
    border: 1px solid;
}

.input {
    display: flex;
    flex-direction: row;
    padding-top: 14px;
    padding-bottom: 5px;
}

.center2 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 85px;
    margin: 0 auto;
    width: 100%;
    height: 88px;
    align-items: center;
    max-width: 1200px;
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    line-height: 23px;

    h5 {
        font-weight: 400;
        color: #3D3D3D;
        margin-top: 25px;
    }
}

.center2-item {
    a {
        display: flex;
        flex-direction: row;
        gap: 9px;
        align-items: center;
    }
}

.center2-item:first-child {
    margin-left: 23px;
    margin-right: 5px;
}


.center-item:nth-child(4) {
    padding-left: 5px;
}

.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    background: #FBFBFB;
    width: 100%;
    max-height: 260px;
    border-bottom: 1px solid #46A35833;

    ul {
        list-style: none;
    }

    li {
        padding-top: 14px;
    }

    h5 {
        font-weight: 400;
        color: #3D3D3D;
    }
}

.bottom-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FBFBFB;
    padding-top: 33px;
    padding-left: 25px;
    padding-bottom: 27px;
    width: 100%;

    li {
        font-size: 13px;
        font-weight: 400;
        line-height: 16px;
    }
}

.bottom-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 380px;
    background: #FBFBFB;
    padding-top: 30px;

    padding-bottom: 49px;
    margin-left: 173px;
    width: 100%;
    line-height: 24px;

    svg {
        margin-right: 5px;
        margin-top: 15px;
    }
}

.social-media {
    color: #46A358;
}

.social-media:hover {
    transition: 0.6s;
    color: green;
}

.accept {
    margin-top: 25px;

    img {
        margin-top: 10px;
    }
}

footer {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

footer:hover {
    h5 {
        color: #46A358;
        transition: 0.6s;
    }

}

.menu {
    display: none;
}

@media screen and (max-width: 992px) {
    .list1 {
        display: none;
    }

    .list2 {
        display: none;
    }

    list3 {
        display: none;
    }

    .registr {
        display: none;
    }

    .flex {
        max-width: 992px;
        justify-content: space-between;
    }

    .menu {
        display: block;

    }

    .burger-checkbox {
        position: absolute;
        visibility: hidden;
    }

    .burger {
        position: fixed;
        z-index: 30;
        cursor: pointer;
        display: block;
        border: none;
        background: transparent;
        width: 40px;
        height: 26px;
        right: 50px;
    }

    .burger::before,
    .burger::after {
        content: '';
        right: 0;
        position: absolute;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        background: #000;
    }

    .burger::before {
        top: 0;
        box-shadow: 0 11px 0 #000;
        transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
    }

    .burger::after {
        bottom: 0;
        transition: bottom .3s .15s, transform .3s;
    }

    .burger-checkbox:checked+.burger::before {
        top: 11px;
        transform: rotate(45deg);
        box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
        transition: box-shadow .15s, top .3s, transform .3s .15s;
    }

    .burger-checkbox:checked+.burger::after {
        bottom: 11px;
        transform: rotate(-45deg);
        transition: bottom .3s, transform .3s .15s;
    }

    .menu-list {
        top: 40px;
        right: 0;
        position: absolute;
        display: grid;
        gap: 12px;
        padding: 42px 20px;
        margin: 0;
        background: green;
        list-style-type: none;
        transform: translateX(-100%);
        transition: 0.3s;
        visibility: hidden;
        max-width: -500px;
    }

    .menu-item {
        display: block;
        padding: 8px;
        color: white;
        font-size: 18px;
        text-align: end;
        text-decoration: none;
    }

    .menu-item:hover {
        background: rgba(255, 255, 255, .2)
    }

    .burger-checkbox:checked~.menu-list {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        max-width: 500px;
    }

    .welcome {
        max-width: 992px;
    }

    .conteiner {
        flex-direction: row;
        max-width: 992px;
    }

    .container-item {
        width: 50%;
    }

    .page {
        flex-direction: column;
        max-width: 992px;
    }

    aside {
        display: none;
    }

    .page2 {
        max-width: 992px;
    }

    .blog {
        flex-direction: column;
    }

    .conteiner2 {
        flex-direction: column;
        max-width: 992px;
    }

    .page3 {
        max-width: 992px;
    }

    .top {
        flex-direction: column;
    }

    .center2 {
        max-width: 992px;
    }

    .bottom {
        max-width: 992px;
    }

    .bottom-right {
        max-width: 300px;
    }

    footer {
        max-width: 992px;
    }
}