* {
    box-sizing: border-box;
    font-family: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "CeraPro", sans-serif;
}

nav {
    margin-top: 30px;
}

.flex {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #f2f2f2;
}

.login {
    width: 100px;
    height: 35px;
    border-radius: 6px;
    background-color: green;
    color: white;
    border: none;
    padding-left: 41px;
    padding-top: 8px;
    padding-right: 17px;
    padding-bottom: 7px;
}

nav li a {
    color: black;
}

.list1 {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 47px;

    >li {
        position: relative;
        border-bottom: 3px solid transparent;
    }

    li:hover {
        border-bottom: 3px solid green;
        font-weight: 700;

        .list2 {
            opacity: 1;
            visibility: visible;
            max-height: 300px;
        }
    }
}

.list2 {
    position: absolute;
    flex-direction: column;
    display: flex;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    gap: 1px;
    list-style: none;
    min-width: 188px;
    left: -70%;
    margin-top: 12px;

    a {
        background: #EDF6EE;
        display: block;
        font-weight: lighter;
        padding-top: 7px;
        padding-left: 14px;
        padding-bottom: 8px;

    }

    li:hover {
        >a {
            background-color: green;
            color: white;
            font-weight: 700;
        }

        .list3 {
            opacity: 1;
            visibility: visible;
            max-height: 300px;
            background-color: #EDF6EE;
        }
    }
}

.list3 {
    position: absolute;
    flex-direction: column;
    display: flex;
    transition: 0.3s;
    visibility: hidden;
    max-height: 0;
    gap: 1px;
    list-style: none;
    min-width: 178px;
    left: 100%;
    top: 0;

    li:hover {
        >a {
            background-color: #EDF6EE;
            color: black;
            font-weight: lighter;
        }
    }
}

section {
    max-width: 1200px;
    margin: 0 auto;

    .conteiner {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        max-width: 1200px;
        padding-top: 12px;
        background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);

    }

    .container-item {
        padding: 68px 43px;
        vertical-align: top;
        flex-basis: 600px;
    }

    p {
        font-size: 16px;
        margin: 0;
    }

    h1 {
        margin: 7px;
        font-size: 60px;
        font-weight: bold;
    }

    h1 span {
        color: green;
    }

    .shop {
        width: 140px;
        height: 40px;
        margin-top: 44px;
        border-radius: 6px;
        background-color: green;
        color: white;
        border: none;
        padding-left: 26px;
        padding-top: 11px;
        padding-right: 27px;
        padding-bottom: 9px;
    }