*{
    font-family: inherit;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
}
.section{
    padding-top: 171px;
    margin: 0 auto;
    max-width: 1200px;
}
aside{
    margin: 0 auto;
    float: left;
    max-width: 340px;
}
aside ul{
    text-align: left;
    padding-top: 14px;
    padding-left: 18px;
}
aside li{
    padding-bottom: 20px;
}
aside div{
    width:370px;
    height:470px;
    text-align: left;
    padding-top: 377px;
    padding-right: 19px;
}
ul{
    list-style: none;
}
.clearfix{
    clear: both;
    display: inline-block;
}
nav ul, nav div, nav li{
    display: inline-block;
}
nav li{
    padding-bottom: 7px;
    border-bottom: 2px solid green;
    margin-right: 40px;

}
header{
width: 100%;
margin: 0 auto;
max-width: 838px;
}
.right-side{
    float: right;
}
main{
    text-align: center;
    margin: 0 auto;
    max-width: 840px;
    display: inline-block;
}
main div img{
    width: 250px;
    height: 250px;
}
main li{
    display: inline-block;
    width: 35px; height: 35px;
    margin: 10px;
    text-align: center;
    padding-top: 7px;
}
.conteiner{
    display: inline-block;
    margin-bottom: 70px;
}
.block{
    display: inline-block;
    text-align: left;
}
.green{
    color: green;
}
.top{
    margin-top: 20px;
}
img{
    margin-top: 18px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 32px;
}
div.block:nth-child(3n + 2) {
    margin-right: 33px;
}